<% layout('/Layouts/Boilerplate') -%>
<body>
  <div class="emergencyVisit" style="display: flex">
    <div class="location">
      <div class="searchBar">
        <div class="inputs">
          <label style="border: 1px solid white"
            ><i
              class="fa-solid fa-location-dot"
              style="font-size: 1rem; margin-top: 0.6rem"
            ></i
          ></label>
          <input
            style="border: 1px solid white"
            class="locationInput"
            name="location"
            
            value=<%=currUser.location%>
          />
          <label style="border: 1px solid white"
            ><i
              class="fa-solid fa-circle-xmark"
              style="font-size: 1rem; margin-top: 0.6rem"
            ></i
          ></label>
          &nbsp;
          <div
            class="vertical-line"
            style="border-right: 1px solid black"
          ></div>
          &nbsp;<label style="border: 1px solid white"
            ><i
              class="fa-solid fa-magnifying-glass"
              style="font-size: 1rem; margin-top: 0.6rem"
            ></i
          ></label>
          <input
            style="border: 1px solid white"
            class="locationInput"
            name="location"
            placeholder="Search Doctors , clinics, Hospitals,etc.."
          />
        </div>
        &nbsp;
        <div><button class="btn btn-primary find" onclick="window.location.href='/nearbyDoctor'" >Find Nearby Doctors</button></div>
      </div>



      
    </div>






    <div class="allDoctors">
      <% if(!nearbyDoctors){%>
        <% for(let doctor of allDoctors){%>
        <div class="card mb-3" style="max-width:750px; border:0.1rem solid black;  box-shadow:4px 5px 10px rgb(0, 0, 0 ,0.9);  ">
          <div class="row g-0 ">
            <div class="col-md-4 d-flex align-items-center justify-content-center" >
              &nbsp; <img src="<%=doctor.profilePhoto%>" class="img-fluid rounded-circle" style="width: 20rem; height:20rem; object-fit: cover; position: relative;" />
              <a href="/" style="position: absolute; text-decoration: none;
        top: 22.5rem;
        ">ViewProfile</a>
            </div>
            <div class="col-md-8 " style="  border: 0.1rem solid black;">
              <div class="card-body doctorCardBody ">
                <div class="doctorInfo">
                  <h5 style="text-decoration: underline;" class="card-title"><%=doctor.fullName%></h5>
                  <br>
                  <p class="card-text"><%=doctor.specialization%></p>
                  <p class="card-text"><%=doctor.experience%> Years of Experience</p>
                  <p class="card-text"><h6><%=doctor.location%></h6></p>
                  <p id="distancePara"><span><button class="find-Distance"  data-lat="<%=doctor.coordinates.lat%>" data-userlng="<%=currUser.coordinates.lng%>" data-userlat="<%=currUser.coordinates.lat%>" data-lng="<%=doctor.coordinates.lng%> " style="background-color: white; border: none; color: green;" >Check Distance</button></span></p>
                  

                  
                </div>
                  <div class="doctorInfo2">
                    <button  class="contactBtn"><i class="fa-solid fa-phone"></i> Contact</button>
                    <button class="btn btn-success Booknow"
                    data-latt="<%=doctor.coordinates.lat%>"
                  data-userlngg="<%=currUser.coordinates.lng%>"
                  data-userlatt="<%=currUser.coordinates.lat%>"
                  data-lngg="<%=doctor.coordinates.lng%>"
                  data-docid="<%=doctor.id%>"
                  
                    style="padding: 0.3rem 2.3rem">Book Now</button>
                  </div>

              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% }else{%>

        <% for(let doctor of nearbyDoctors){%>
        <div class="card mb-3" style="max-width:750px; border:0.1rem solid black;  box-shadow:4px 5px 10px rgb(0, 0, 0 ,0.9);  ">
          <div class="row g-0 ">
            <div class="col-md-4 d-flex align-items-center justify-content-center" >
              &nbsp; <img src="<%=doctor.profilePhoto%>" class="img-fluid rounded-circle" style="width: 20rem; height:20rem; object-fit: cover; position: relative;" />
              <a href="/" style="position: absolute; text-decoration: none;
        top: 22.5rem;
        ">ViewProfile</a>
            </div>
            <div class="col-md-8 " style="  border: 0.1rem solid black;">
              <div class="card-body doctorCardBody ">
                <div class="doctorInfo">
                  <h5 style="text-decoration: underline;" class="card-title"><%=doctor.fullName%></h5>
                  <br>
                  <p class="card-text"><%=doctor.specialization%></p>
                  <p class="card-text"><%=doctor.experience%> Years of Experience</p>
                  <p class="card-text"><h6><%=doctor.location%></h6></p>
                  <p id="distancePara"><span><button class="find-Distance"  data-lat="<%=doctor.coordinates.lat%>" data-userlng="<%=currUser.coordinates.lng%>" data-userlat="<%=currUser.coordinates.lat%>" data-lng="<%=doctor.coordinates.lng%> " style="background-color: white; border: none; color: green;" >Check Distance</button></span></p>
                  
                </div>
                <div class="doctorInfo2">
                  <button  class="contactBtn"><i class="fa-solid fa-phone"></i> Contact</button>
                  <button class="btn btn-success Booknow"
                  data-latt="<%=doctor.coordinates.lat%>"
                  data-userlngg="<%=currUser.coordinates.lng%>"
                  data-userlatt="<%=currUser.coordinates.lat%>"
                  data-lngg="<%=doctor.coordinates.lng%>"
                  data-docid="<%=doctor.id%>"
                    style="padding: 0.3rem 2.3rem">Book Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>
  </div>



<!-- MODAL FOR EMERGENCY BOOKING -->
<!-- 
<div class="modal fade" id="exampleModalToggle"  aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Emergency Booking</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding: 1rem; line-height: 0.6rem;" >
        <h3 id="DocName" style="text-decoration: underline;"></h3>
        <br>
        <p id="specialization"></p>
        <p id="location"></p>
        <a id="price">Fee : $500</a>
        <br><br><br><br><hr>
        <div class="form-floating mb-3">
          <input 
          style="border: 1px solid green;"
            type="tel" 
            class="form-control" 
            id="phoneNumber" 
            placeholder="Enter phone number" 
            pattern="[0-9]{10}" 
            required
          >
          <label for="phoneNumber">Phone Number</label>
        </div>
        <div class="form-floating">
          <textarea class="form-control" style="border: 1px solid green;" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Describe Your Problem....</label>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" id="ConfirmEBooking"  data-bs-toggle="modal" data-bs-target>Confirm Booking</button>
      </div>
    </div>
  </div>
</div>


 -->









</body>
