<% layout('/Layouts/Boilerplate') -%>
<body>
  <div class="emergencyVisit" style="display: flex">
    <div class="location">
      <div class="searchBar">
        <div class="inputs">
          <label style="border: 1px solid white"
            ><i
              class="fa-solid fa-location-dot"
              style="font-size: 1rem; margin-top: 0.6rem"
            ></i
          ></label>
          <input
            style="border: 1px solid white"
            class="locationInput"
            name="location"
            
            value=<%=currUser.location%>
          />
          <label style="border: 1px solid white"
            ><i
              class="fa-solid fa-circle-xmark"
              style="font-size: 1rem; margin-top: 0.6rem"
            ></i
          ></label>
          &nbsp;
          <div
            class="vertical-line"
            style="border-right: 1px solid black"
          ></div>
          &nbsp;<label style="border: 1px solid white"
            ><i
              class="fa-solid fa-magnifying-glass"
              style="font-size: 1rem; margin-top: 0.6rem"
            ></i
          ></label>
          <input
            style="border: 1px solid white"
            class="locationInput"
            name="location"
            placeholder="Search Doctors , clinics, Hospitals,etc.."
          />
        </div>
        &nbsp;
        <div><button class="btn btn-primary find" onclick="window.location.href='/nearbyDoctor'" >Find Nearby Doctors</button></div>
      </div>



      
    </div>






    <div class="allDoctors">
      <% if(!nearbyDoctors){%>
        <% for(let doctor of allDoctors){%>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4"> 
              <img  src="<%=doctor.profilePhoto%>" class="img-fluid rounded-start"  />
            </div>
            
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%=doctor.fullName%></h5>
                <p class="card-text">
                  Hello, i am here to respond
                </p>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% }else{%>

        <% for(let doctor of nearbyDoctors){%>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4"> 
              <img  src="<%=doctor.profilePhoto%>" class="img-fluid rounded-start"  />
            </div>
            
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%=doctor.fullName%></h5>
                <p class="card-text">
                  Hello, i am here to respond
                </p>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>
  </div>
</body>
